# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# development stuff
logs/
*.swp
*.swo
projdocs*

# data etc
*albumsmatcher.json*
# starter for standalone albumsmatcher
start_matcher.py
# actual app settings
apps/banshee_settings.py
